*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(27, 27, 27);
}

.container-nav{
position: absolute;
top:0%;
height:80px;
width:100%;
display:flex;
align-items: center;
justify-content: space-evenly;
}

.bg-img {
    background-image:url("../Pic/robot.jpg");
    height: 580px;
    width:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 580px;
    position: relative;

  }

  .nav .navbar{
   width: 100%;
  }

  .navbar{
   background-color: transparent;
   box-shadow: none;
   width: 100%;
  }

  .nav-wrapper{
    display: flex;
    align-items: center;
  }

.nav-wrapper a:hover{
    color:grey;
    box-shadow: none;
    background: none;
}

ul.sidenav{
    background-color: rgba(22, 21, 21, 0.979);
    color: rgb(121, 118, 118);
}

ul.sidenav li a{
    color:#00acc1;
    transition: transform .2s;
}

ul.sidenav li a:hover{
    transform: scale(1.1);
}

.logo-sidenav{
    padding: 5px 25px;
}

.logo-sidenav img{
    height: 50px;
    width: 80px;
}

.logo{
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    height:40px;
    width:150px;
}

.login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login h6{
    color:white;
    margin-right: 10px;
    margin-top:10px;

}

.login i{
    color: white;
    font-size: 30px;
    margin-right: 10px;
}


.hero{
    position: absolute;
    top:48%;
    left: 4%;
    background: none;
    margin-left: 20px;
}

.hero h4{
    background: none;
    color:white;
}

.hero h6{
    background: none;
    color: #00acc1;
}

.hero small{
    background: none;
    color:white;
    display: block;
}

.hero button{
    margin-top: 10px;
    background: none;
    border-radius: 20px;
    padding:5px 20px;
    border:1px solid #00acc1;
    color:#00acc1 ;
}

.icon{
    display: flex;
    margin-top: 30px;
    margin-left: 65px;
    font-family: Arial, Helvetica, sans-serif;
    transition: .2;
}

.icon:hover{
    cursor: pointer;
}

.facebook{
    border:1px solid #3b5998 ;
    background-color: #3b5998;
    margin-right: 3px;
    padding-left: 8px;
}

.facebook i{
    color:white;
}

.facebook small{
    color:white;
    padding-right: 3px;
}

.twitter{
    border:1px solid #1da1f2;
    background-color: #1da1f2;
    margin-right: 3px;
    padding-left: 8px;
}

.twitter i{
    color:white;
}

.twitter small{
    color:white;
    padding-right: 3px;
}

.whatsapp{
    border:1px solid #4dc246;
    background-color: #4dc246;
    color:transparent;
    margin-right: 3px;
    padding-left: 8px;
}

.whatsapp i{
  color:white;
}


.whatsapp small{
    color:white;
    padding-right: 3px;
}

.pinterest{
    border:1px solid #cb2027;
    background-color: #cb2027;
    margin-right: 3px;
    padding-left: 8px;
}

.pinterest i{
    color:white;
}

.pinterest small{
    color:white;
    padding-right: 3px;
}

.telegram{
    border:1px solid #0088cc;
    background-color: #0088cc;
    margin-right: 3px;
    padding-left: 8px;
}

.telegram i{
    color:white;
    background-color: transparent;
}

.telegram small{
    color:white;
    padding-right: 3px;
}

.email{
    border:1px solid #848484;
    background-color: #848484;
    margin-right: 3px;
    padding-left: 8px;
}

.email i{
    color:white;
}

.email small{
    color:white;
    padding-right: 3px;
}

.more{
    border:1px solid #ff6550;
    background-color: #ff6550;
    margin-right: 3px;
    padding-left: 8px;
}
.more i{
    color:white;
    background-color: transparent;
}

.more small{
    color:white;
    padding-right: 3px;
}

.info{
    margin-top: 40px;
    margin-left: 65px;
    color:rgb(207, 207, 207);
}

.trending{
    margin-left: 65px;
    display: flex;
    align-items: center;
    color:rgb(207, 207, 207);
}

.trending ul{
    display: flex;
    align-items: center;
    padding-top:20px;

}
.trending li{
    display: flex;
    align-items: center;
    color:white;
    margin-left: 10px;
    border:1px solid #00acc1;
    background-color:#00acc1;
    border-radius: 5px;
    height: 30px;
    padding:0px 10px;
}
.view{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.view a{
    border: 1px solid #00acc1;
    padding:10px 20px;
    text-decoration: none;
    color: whitesmoke;
}

.trending li:hover{
    cursor: pointer;
    color:grey;
}

[data-tab-content]{
    display: none;

}

.active[data-tab-content]{
    display:grid;
}


.movie-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100px,180px));
  gap: 10px 5px;
  color:rgb(207, 207, 207);
  padding:0px 65px;
  margin-top: 40px;
}

.movie-container img{
    height: 200px;
    width:180px;

}

.movie-container img:hover{
    cursor: pointer;
}
.image{
    position: relative;
}
.image:hover .play{
    display: block;
    cursor: pointer;
}
.play{
    position: absolute;
    top:35%;
    left:47%;
    font-size: 2.5rem;
    display: none;
    
}


.movie-container img:hover{
    cursor: pointer;
    filter: brightness(85%);
}


.movie-desp{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.movie-desp small:last-child{
    background-color: #00acc1;
    border: 1px solid #00acc1;
    color: white;
}

footer{
    margin-top: 30px;
    background-color: rgb(7, 6, 6);
}

.foot{
    display: flex;
}

.logo-footer{
    margin-top: 30px;
    margin-left: 30px;
}

.logo-footer img{

    height: 50px;
    width: 150px;
}

.footer-text{
    margin-left: 50px;
    margin-right: 30px;
    text-align: justify;
    font-size: 15px;
    color: rgb(207, 207, 207);
}

.footer-text p{
    max-width: 750px;
}

.link{
    color:rgb(207, 207, 207);
    margin-right: 50px;
}

.link h6{
    display: flex;
    justify-content: center;
    color:rgb(207, 207, 207);
}

.link i {
    font-size: 17px;
}

.link li{
    display: flex;
    justify-content: center;
}

.social-footer .icon:hover{
    cursor: pointer;
}

.links-footer{
    display: flex;
    margin-left: 50px;
    align-items: center;
    font-size: 10px;
}






@media only screen and (max-width:700px){
    .movie-container{
    padding: 0px 2px;
    display: grid;
    place-content: center;
}
.logo-footer{
    margin-left: 2px;
    margin-top: 6px;
}
.footer-text{
    display: none;

}
.links-footer{
    margin-left: 20px;

}
.icon{
    margin-left: 5px;
    margin-right: 5px;
}
.icon small{
    display:none;
}
.icon i {
    display: flex;
    align-items: center;
    padding-right: 0px;
}
.info{
  margin-left: 5px;
}
.trending{
  margin-left: 5px;
}

}
